*, *::after, *::before {
    box-sizing: border-box;
    font-size: 3rem;
    color: #de4848;
}

.flipCard {
    position: relative;
    display: inline-flex;
    flex-direction: column;

}

.top, 
.bottom, 
.flipCard.flip::after, 
.flipCard.flip::before {
    height: 0.75em;
    line-height: 1;
    padding: 0.25em;
    overflow: hidden;
}

.top,
.flipCard.flip::before {
    background-color: #f7f7f7;
    border-top-left-radius: 0.09em;
    border-top-right-radius: 0.09em;
}

.bottom,
.flipCard.flip::after {
    background-color: white;
    display: flex;
    align-items: flex-end;
    border-bottom-left-radius: 0.09em;
    border-bottom-right-radius: 0.09em;
}

.flipCard.flip::before {
    position: absolute;
    content: "1";
    width: 100%;
    animation: flip-top 1000ms ease-in 1000ms infinite;
    transform-origin: bottom;
}

@keyframes flip-top {
    100% {
        transform: rotateX(90deg);
    }
}

.flipCard.flip::after {
    position: absolute;
    bottom: 0;
    content: "2";
    width: 100%;
    animation: flip-bottom 1000ms ease-out 1000ms infinite;
    background-color: yellow;
    transform-origin: top;
    transform: rotateX(90deg);
}

@keyframes flip-bottom {
    100% {
        transform: rotateX(0deg);
    }
}