* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    font-size: 5rem;
    color: lightgray;
    gap: 0;
    margin-top: 2rem;
}

.numberContainer {
    display: flex;
    background-color: rgb(19, 28, 38);
    width: 7rem;
    height: 7rem;
    margin: auto;
    justify-content: center;
    align-items: center;
}   

